<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date Posted</th>
      <th>Rev On</th>
    </tr>
  </thead>
  
  <tbody>
    <% threads.forEach(function(t) { %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.content %></td>
          <td><%= t.date %></td>
          <td><a href="/threads/<%= t._id %>">View Discussion</a></td>
        </tr>
        <% }); %>

  </tbody>
</table>

<%- include('../partials/footer') %>