<%- include('../partials/header') %>

<section id="show-page">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date Posted</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td><%= thread.title %></td>
            <td><%= thread.content %></td>
            <td><%= thread.createdAt.toLocaleDateString(); %></td>
          </tr> 
    </tbody>
  </table>

<br><br><h5>Comments</h5>
  <form id="add-comment-form" action="/threads/<%= thread._id %>/comments" method="POST">
    <label></label>
    <textarea name="content"></textarea>
    <% if (user) { %>
      <input type="submit" value="Add Comment">
      <% } else { %>
      <a href="/loggers" class="nl_comment">Add Comment</a>
      <% } %>
  </form>

<% if (thread.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Content</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% thread.comments.forEach(function(c) { %>

        <tr>
          <td class="comment-user"><%= c.userName %></td>
          <td><%= c.content %></td>
          <td><%= thread.createdAt.toLocaleDateString(); %></td>
          <td>
            <% if (user?._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>            
    </tbody>
  </table>
  
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
  

<%- include('../partials/footer') %>