<%- include('../partials/header') %>

<section id="show-page">
  <div>Title </div>
  <br>
  <div><%= thread.title %></div>
  <br>
  <div>Content </div>
  <br>
  <div><%= thread.content %></div>
  <form action="/threads/<%= thread._id %>?_method=DELETE" method="POST"> <button type="submit">X</button>

<br><br><h5>Comments</h5>
<form id="add-comment-form" action="/threads/<%= thread._id %>/comments" method="POST"></form>
  <div id="nl_comment_button"><input type="submit" value="Add Comment"></div>

<% if(user) { %>
  <form id="add-comment-form" action="/threads/<%= thread._id %>/comments" method="POST">
    <label>Comment</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
    <button type="submit">X</button>
  </form>
<% } %>

<% if (thread.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Content</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% thread.comments.forEach(function(c) { %>

        <tr>
          <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / thread.comments.length).toFixed(1) %></strong></td>
      </tr>
      
    </tbody>
  </table>
  
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
  

<%- include('../partials/footer') %>